<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/til.png">
</head>
<body>
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div class="footer">
        <a href="https://liliwilson.github.io/til">back to feed</a>
    </div>
</body>
</html>
